@font-face {
  font-family: 'anironbold';
  src: url('font/anirb___-webfont.woff2') format('woff2'),
       url('font/anirb___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-party-business: "party_businessregular";
$primary-color: #fe661d;

@mixin theRings($x, $color){
  width: $x + px;
  height: $x + px;
  border-radius: $x/2 + px;
  border: $x/10 +px solid $color;
  display: inline-block;
  margin: - $x/2.5 +px 0;
  -webkit-box-shadow: $x/25+px $x/25+px 10px 0 darken($color,10);
  box-shadow: $x/25+px $x/25+px 10px 0 darken($color,10);
}

html{
  font-size: 15px;
}

header {
  > nav {
    background-color: $primary-color;
    font-family: "anironbold";
    font-size: 1rem;
    color: #FFF;
    &.active a{
      border-bottom: 2px solid #FFF;
   }
  } 
}

footer{
  background-color: $primary-color;
}

#rings{
  > div{
    margin-top: 150px;
    text-align: center;
    h2{;
      font-family: "anironbold";
      text-align: center;
      &.precious{
        span{
          @include theRings(40,$primary-color);
          margin-left: 50px;
          margin-right: 50px;
        }
      }
      &.the_one{
        span{
          @include theRings(150,#f7e036);
          margin-right: 30px;
        }
      }
    }
  }
}

.please{
  margin: 0 auto 20px auto;
}

$rings-size : 30;
@for $i from 0 to 6{
  span.multi-rings#{$i}{
    @include theRings($rings-size, #444);
    margin-right: - $rings-size /2 +px;
  }
    $rings-size : $rings-size + 5;
}